body {
    background-color: #040b1b;
    font-family: ariel;
    font-size: 12pt;
    color: #ffffff;
}
a {
    color: #ffff00;
}
div.main {
    width: 900px;
    background-color: #040b1b;
    margin: auto;
}

div.header {
    text-align: center;
    font-size: 28pt;
    margin-top: 20px;
}

/* Top table */
div.top-table {
    width: 90%;
    height: 525px;
    margin: auto;
    border-width: 1px;
    border-color: #ffffff;
    border-style: solid;
    padding: 5px;
}
table.top-table {
    padding: 0px;
}
td.top-cell {
    vertical-align: top;
    padding: 10px;
    height: 475px;
}
td.top-picture {
    width: 250px;
    text-align: center;
    vertical-align: top;
    padding-right: 15px;
    border-right: 1px solid #fff;
}
div.top-peer-img {
    width: 100%;
    /* height: 300px; */
    /* border-width: 4px; */
    /* border-color: #d8e4ff; */
    /* border-style: solid; */
    margin: auto;
}
h1.name {
    font-size: 22pt;
    margin-bottom: 10px;
}
h1.bio-title {
    font-size: 12pt;
}
span.top-header {
    text-align: left;
    font-weight: bold;
    font-size: 14pt;
}
h1.top-header {
    margin-top: 5px;
    margin-bottom: 1px;
    font-size: 14pt;
}
p.top-p {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 1px;
    margin-bottom: 0px;
}
p.single-line {
    margin-top: 5px;
    margin-bottom: 5px;
}

/* Bottom table */
div.bottom-table {
    width: 90%;
    margin: auto;
    padding: 5px;
}
table.bottom-peer-table {
    width: 100%;
    border-spacing: 5px;
}
div.bottom-peer-img {
    /* width: 175px; */
    text-align: center;
    margin: auto;
    vertical-align: top;
}
td.bottom-picture {
    text-align: center;
    vertical-align: middle;
    border: solid 1px #fff;
    padding: 10px;
    cursor: pointer;
}
